@model CarFleet.Models.Offers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    body {
        background-color: #B1C9E4
    }

    label {
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
    }
</style>



<form method="post" asp-action="Edit">
    <div class="backgroundWhiteBorder">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.CarId" />
        <input type="hidden" asp-for="@Model.Car.Id" />


        <h2 class="text-info">Dodaj nową ofertę</h2>
        <br />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.CarName" class="col-form-label"></label>
                <input asp-for="@Model.Car.CarName" class="form-control" />
            </div>

            <div class="form-group col-md-4">
                <label asp-for="@Model.Location" class="col-form-label"></label>
                <input asp-for="@Model.Location" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.PriceFirst" class="col-form-label"></label>
                <input asp-for="@Model.PriceFirst" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.DateEnd" class="col-form-label"></label>
                <input type="date" asp-for="@Model.DateEnd" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.Transmission" class="col-form-label"></label>
                <select asp-for="@Model.Car.Transmission" asp-items="Html.GetEnumSelectList<Car.ETransmission>()" class="form-control"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.CountPlaces" class="col-form-label"></label>
                <input asp-for="@Model.Car.CountPlaces" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.RegistarionNumber" class="col-form-label"></label>
                <input asp-for="@Model.Car.RegistarionNumber" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.Body" class="col-form-label"></label>
                <select asp-for="@Model.Car.Body" asp-items="Html.GetEnumSelectList<Car.EBody>()" class="form-control"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.Color" class="col-form-label"></label>
                <input asp-for="@Model.Car.Color" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.ProductionYear" class="col-form-label"></label>
                <input asp-for="@Model.Car.ProductionYear" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.FuelType" class="col-form-label"></label>
                <select asp-for="@Model.Car.FuelType" asp-items="Html.GetEnumSelectList<Car.EFuelType>()" class="form-control"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.FirstRegistarion" class="col-form-label"></label>
                <input type="date" asp-for="@Model.Car.FirstRegistarion" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.Mileage" class="col-form-label"></label>
                <input asp-for="@Model.Car.Mileage" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.EnginePower" class="col-form-label"></label>
                <input asp-for="@Model.Car.EnginePower" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Car.Capacity" class="col-form-label"></label>
                <input asp-for="@Model.Car.Capacity" class="form-control" />
            </div>

        </div>


        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Car.Description" class="col-form-label"></label>
                <textarea asp-for="@Model.Car.Description" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" style="width:50%;" class="btn btn-primary">Aktualizuj ofertę </button>
        </div>


    </div>



</form>
