@model IEnumerable<Offers>
@{
    ViewData["Title"] = "OffersManagment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    body {
        background-color: #B1C9E4
    }
</style>

<div class="backgroundWhiteBorder">
    <h2 class="text-info">Zarządzaj aukcjami</h2>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Car.CarName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PriceFirst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.DateEnd)
                    </th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        

                        <td>@Html.DisplayFor(m => item.Car.CarName)</td>
                        <td>@Html.DisplayFor(m => item.PriceFirst)</td>
                        <td>@Html.DisplayFor(m => item.DateEnd)</td>
                        <td> <partial name="_TableButtons" model="item.Id" /></td>
                    </tr>
                }


            </tbody>
        </table>



        @*///////////////*@
    </div>
</div>
